.profile__info {
  display: flex;
  margin: 18px 0 0 30px;
  flex-direction: column;
}

@media screen and (max-width: 619px) {
  .profile__info {
    margin: 21px 0 0;
    justify-content: center;
  }
}